POSTGRES_DB=lothar_collatz
POSTGRES_USER=postgres
POSTGRES_PASSWORD=adminadmin
POSTGRES_PORT=5432

BACKEND_PORT=8000
FRONTEND_PORT=5173

API_CORS_ORIGINS=http://localhost:5173
VITE_API_BASE=http://localhost:8000
